<h1>Profil de l'auteur: </h1>


  <p>Auteur : <%=@profil.name%><p>
  <p>Email: : <%=@profil.email%><p>
  <p>Description : <%=@profil.description%><p>
  <p>Date de naissance : <%=@profil.birthdate%><p>